{% extends "base.html" %}

{% block content %}
    <a href="{{ url_for('text.create') }}">Back</a>
    <div>{{ text.content }}</div>

    {% for keyphrase in keyphrases %}
        <hr>
        <div>Keyphrase: {{ keyphrase.keyphrase }}</div>
        <div>Page exists:
            {% if keyphrase.is_exists %}
                yes
            {% else %}
                no
            {% endif %}
        </div>

        {% if keyphrase.is_exists %}
            <div>Disambiguation page:
                {% if keyphrase.is_disambiguation %}
                    yes
                {% else %}
                    no
                {% endif %}
            </div>
<div>Page url: <a href="{{ keyphrase.wiki_url }}" target="_blank">{{ keyphrase.wiki_url }}</a></div>
        {% endif%}
    {% endfor %}
{% endblock %}