{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Texts{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div><a href="{{ url_for("text.top") }}">Top</a></div>
    <form method="post" >
    <div>
      <label for="text">Add text</label>
    </div>
    <textarea name="text" id="text"  style="height: 10%; width: 100%; max-width: 100%; margin-bottom: 10px;"></textarea>

    <div>
      <input type="submit" value="Save">
    </div>
    </form>

    {% for text in texts %}
        <div>{{ text.content|truncate(1024, True) }}</div>
        <a href="{{ url_for('text.detail', text_id=text.id) }}">More</a>
        <hr>
    {% endfor %}
{% endblock %}